doctype html
head
    title= title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="icon" type="image/png" href="/favicon.png")
body
  <section class="hero is-dark is-fullheight">
    <div class="hero-body">
      <div class="container has-text-left">
        figure(class="logo")
          img(class="image is-48x48" src="images/logo.png")
        .site-info
          h1(class="title white thin") cinemapp
          h2(class="subtitle white") Otro nuevo Netflix
        div
          <a class="button is-primary is-rounded is-outlined" href="/main">Entra a la app</a>
      </div>
    </div>
  </section>
