@import url('https://fonts.googleapis.com/css?family=Raleway200,300,400,600');

/* GENERAL */

body {
  font: 16px "Raleway", sans-serif;
}

.content figure {
  margin:0!important; 
}

a {
  color: #22d0b2!important;
}

/* HELPERS */

.thin {
  font-weight: 200;
}

.pad-1 {
  padding:1rem;
}

.accent-box {
  border: 1px solid #22d0b2;
}

.accent-bottom {
  border-bottom: 1px solid #22d0b2;
}

.transparent {
  background-color: transparent;
}

/* LANDING */

.logo {
  display: inline-block;
  padding-right:1rem;
}
.site-info {
  display: inline-block;
  margin-bottom: 3rem;
}

/* MAIN */

main.content {
  padding: 3rem 15%;
  background-color: #363636;
}

.description {
  margin-top:1rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card-image {
  max-height: 200px;
  overflow: hidden;
}

.card-content {
  min-height: 220px;
}

.title:not(:last-child) {
  margin-bottom: .5rem!important;
  min-height: 50px;
}

.date {
  font-size: .9rem;
}

.card-footer {
  justify-content: space-between;
}

.card-footer .footer-icon{
  margin: 0 1rem;
}

/* DETALLE  */

.container-detail {
  max-width:950px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.detail {
display: flex!important;

}
.detail-img {
  justify-content: flex-end;    
}

.detail-txt {
  justify-content: flex-start;
  padding-right:7rem;
  margin-left:0!important;    
}

.detail-cover {
  height: 400px;  
}


.info-film {
  margin-left:-3rem;
  max-width: 450px;
}

/* NAVBAR */

.site-title {
  font-size: 1.5rem;
}


.navbar-start:first-child {
  border-left: 1px solid #22d0b2;
}

.navbar-item {
  color:white!important;
}

.nav-logo:hover {
  background-color: transparent!important;
}

.search {
  margin-right: auto;
    margin-left: auto;
}

.search-btn:hover {
  background-color: #22d0b2!important;
  transition: .2s;
}

.input  {
  border-radius: 0px!important;
  width: 175px;
  color: white;
  margin-right: -5px;
}
.input:active, 
.input:focus {
  border-color: #22d0b2!important;
}
::placeholder {
  color: rgb(255, 255, 255)!important;
  opacity: .6;
}